/* view container */
.bali-view-container {
  overflow: auto;
  padding-right: 10px;
  padding-bottom: 10px;
}

/* form */
.bali-form {
  width: 100%;
  padding: 8px;
}
.bali-form .v-widget:not(.v-button) {
  width: 100% !important;
}
.bali-form .v-widget:not(.v-button) .v-caption {
  margin-top: 14px;
}
.bali-form .v-widget:not(.v-button) .v-captiontext {
  font-weight: bold;
}
.bali-form .bali-entity-picker {
  width: 100%;
}
.bali-form .bali-entity-picker .v-textfield {
  width: 80%;
}
.bali-form .bali-entity-picker .v-button {
  width: 20%;
}
.bali-form .bali-form-toolbar {
  padding-top: 20px;
}

/* topbar */
.bali-topbar {
  width: 100%;
  background-color: #404040;
}
.bali-topbar .collapse-button {
  display: inline-block;
}
.bali-topbar .collapse-button .v-icon {
  color: white;
}
.bali-topbar .logout-button {
  display: inline-block;
  float: right;
}
.bali-topbar .logout-button .v-icon {
  color: white;
}
.bali-topbar .user-label {
  width: auto !important;
  display: inline-block;
  float: right;
  color: white;
  margin-top: 6px;
}

/* Other */
.bali-overflow-auto {
  overflow: auto;
}

.bali-button-primary-fix {
  min-width: 0 !important;
}

.bali-common-view {
  overflow: auto !important;
}

.bali-common-search-form .field {
  margin: 2px;
}
.bali-common-search-form .field .label {
  margin-top: 4px;
  font-weight: bold;
}

.bali-message-panel {
  border: 2px solid;
  border-radius: 4px;
}
.bali-message-panel .icon-label {
  margin-left: 8px;
  margin-right: 4px;
}
.bali-message-panel .close-button {
  margin-top: 8px;
}

.bali-message-panel-success {
  border-color: #2c9720;
  background-color: #c8f2c4;
}
.bali-message-panel-success .icon-label {
  color: #13430e;
}
.bali-message-panel-success .message-label {
  color: #13430e;
}

.bali-message-panel-warning {
  border-color: orange;
  background-color: #ffedcc;
}
.bali-message-panel-warning .icon-label {
  color: #996300;
}
.bali-message-panel-warning .message-label {
  color: #996300;
}

.bali-message-panel-error {
  border-color: #ed473b;
  background-color: #fef6f6;
}
.bali-message-panel-error .icon-label {
  color: #b21b10;
}
.bali-message-panel-error .message-label {
  color: #b21b10;
}

/* AppLayout */
app-toolbar {
  background-color: #222222 !important;
  color: #eeeeee !important;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
}

.app-bar-application-content > .v-panel > .v-panel-content {
  padding-left: 12px !important;
  padding-right: 12px !important;
}

/* EntityDataGrid */
.bali-entity-data-grid .action-button {
  margin-left: 2px;
  margin-right: 2px;
}
.bali-entity-data-grid .v-grid-cell-focused:before {
  display: none !important;
}

/* Extra Small */
/* Small */
/* Medium */
/* Large */
/* Extra large  */
