/* view container */
.bali-view-container {
	overflow: auto;

	// padding-left: 12px;
	padding-right: 10px;
	padding-bottom: 10px;
}

/* form */
.bali-form {
	width: 100%;
	padding: 8px;

	.v-widget:not(.v-button)  {
		width: 100%! important;

		.v-caption {
			margin-top: 14px;
		}

		.v-captiontext {
			font-weight: bold;
		}
	}

	.bali-entity-picker {
		width: 100%;

		.v-textfield {
			width: 80%;
		}

		.v-button {
			width: 20%;
		}
	}

	.bali-form-toolbar {
		padding-top: 20px;
	}
}

/* topbar */
.bali-topbar {
	width: 100%;
	background-color: #404040;

	.collapse-button {
		display: inline-block;

		.v-icon {
			color: white;
		}
	}

	.logout-button {
		display: inline-block;
		float: right;

		.v-icon {
			color: white;
		}
	}

	.user-label {
		width: auto !important;
		display: inline-block;
		float: right;
		color: white;
		margin-top: 6px;
	}
}
/* Other */
.bali-overflow-auto {
	overflow: auto;
}

.bali-button-primary-fix {
	min-width: 0 !important;
}

.bali-common-view {
	overflow: auto !important;
}

.bali-common-search-form {

	.field {
		padding: 11px;
		margin: 2px;

		.label {
			margin-top: 4px;
			font-weight: bold;
		}

		> .v-widget {
			margin-left: 3px;
			margin-right: 3px;
		}
	}
}


$success-color: #2c9720;
$warning-color: orange;
$error-color: #ed473b;

$success-color-light: lighten($success-color, 50%);
$warning-color-light: lighten($warning-color, 40%);
$error-color-light: lighten($error-color, 40%);

$success-color-dark: darken($success-color, 20%);
$warning-color-dark: darken($warning-color, 20%);
$error-color-dark: darken($error-color, 20%);

.bali-message-panel {
	border: 2px solid;
	border-radius: 4px;

	.message-label {
		margin-left: 18px;
	}

	.close-button {
		width: 32px;
		margin-top: 8px;
		margin-right: 8px;
		padding: 0;
	}
}

.bali-message-panel-success {
	border-color: $success-color;
	background-color: $success-color-light;
	.icon-label {
		color: $success-color-dark;
	}
	.message-label {
		color: $success-color-dark;
	}
}

.bali-message-panel-warning {
	border-color: $warning-color;
	background-color: $warning-color-light;
	.icon-label {
		color: $warning-color-dark;
	}
	.message-label {
		color: $warning-color-dark;
	}
}

.bali-message-panel-error {
	border-color: $error-color;
	background-color: $error-color-light;
	.icon-label {
		color: $error-color-dark;
	}
	.message-label {
		color: $error-color-dark;
	}
}

/* AppLayout */
app-toolbar {
	background-color: #222222 !important;
	color: #eeeeee !important;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
}

.app-bar-application-content  > .v-panel > .v-panel-content {
	padding-left: 12px !important;
	padding-right: 12px !important;
}

/* EntityDataGrid */
.bali-entity-data-grid {
	.action-cell {
		padding-left: 2px !important;
		padding-right: 2px !important;

		.action-button {
			width: 38px;
			margin-left: 2px;
			margin-right: 2px;
		}
	}

	.v-grid-cell-focused:before {
		display: none !important;
	}
}

.bali-temporal-range-field {
	.start {
		margin-right: 2px;
	}

	.end {
		margin-left: 2px;
	}

	.options {
		margin-left: 4px;
	}
}

.bali-square-button {
	border-radius: 0 !important;
}

.bali-borderless-button-light {
	&:focus::after{
		box-shadow: none !important;
		-webkit-box-shadow: none !important;
	}

	&:hover {
		box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.1) !important;
	}
}

.bali-borderless-button-dark {
	&:focus::after{
		box-shadow: none !important;
		-webkit-box-shadow: none !important;
	}

	&:hover {
		box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1) !important;
	}
}

.bali-entity-multi-picker {
	.v-grid-cell-focused:before {
		display: none !important;
	}
}

$bali-table-border: 1px solid #d4d4d4;

.bali-table-wrapper {
	overflow-x: scroll;
	border: $bali-table-border;

	.bali-table {
		display: table !important;
	}

	.bali-table-header {
		display: table-header-group !important;
		position: static !important;
	}

	.bali-table-body {
		display: table-row-group !important;
		position: static !important;
	}

	.bali-table-row {
		display: table-row !important;
		position: static !important;
	}

	.bali-table-cell {
		display: table-cell !important;
		float: none !important;
		border-left: $bali-table-border;
		border-bottom: $bali-table-border;
	}
}

/* Extra Small */
@media(min-width:480px){
}

/* Small */
@media(min-width:768px){
		}

/* Medium */
@media(min-width:992px){
}

/* Large */
@media(min-width:1200px){
}

/* Extra large  */
@media (min-width: 1600px) {
}
